"*":
  editor:
    fontSize: 12
    tabLength: 4
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
  "exception-reporting":
    userId: "34edb9a4-500d-d1d8-8ba1-25d3cb58f46d"
  "release-notes":
    viewedVersion: "0.85.0"
  welcome:
    showOnStartup: false
  metrics:
    userId: "95147fa2cf488c1315bdee4d53f4cfdb4815c189"
  "git-plus": {}
  "go-plus": {}
  "autocomplete-plus": {}
  "tree-view":
    sortFoldersBeforeFiles: false
  "merge-conflicts": {}
